<div>
    <div fxLayout="row" fxLayoutAlign="center">
        <h1 mat-dialog-title id="title">Abonnements</h1>
    </div>

    <div mat-dialog-content>
        <ul>
            <li *ngFor="let following of followings">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image" [style.background-image]="'url(https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg)'"></div>
                        <mat-card-title>{{following.utilisateur2.nom}} {{following.utilisateur2.prenom}}</mat-card-title>
                        <mat-card-subtitle>@{{following.utilisateur2.username}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </li>
        </ul>
    </div>

    <div mat-dialog-actions id="actions">
        <button id='close' mat-button (click)="closeDialog()" cdkFocusInitial>
            Fermer
        </button>
    </div>
</div>