#container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#title {
  text-align: center;
  margin: 0;
}

#card {
  display: flex;
  flex-direction: row;
  background: none;
}

#header {
  width: 80%;
}

#subs {
  border-top: 1px solid rgb(58, 58, 58);
  border-bottom: 1px solid rgb(58, 58, 58);
}

#actions {
  padding: 0;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  border-top: 1px solid  rgb(58, 58, 58);
}

#content {
  align-self: center;
  width: 100%;
  margin-top: 10px;
}

#close {
  width: 100%;
}

::ng-deep .mat-dialog-content {
  padding: 0;
}

.cdk-overlay-pane {
  border-radius: 8px;
}

::ng-deep .mat-dialog-container {
  border: 1px solid rgb(96, 96, 96);
  border-radius: 10px;
  background: rgba(36, 36, 36, 255);
  position: relative;
  max-width: 500px;
}

#spinner {
  position: relative;
  margin: 10px auto;
}

.options {
  position: relative;
  width: 120px;
}

.title {
  text-size-adjust: auto !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button__text {
  transition: all 0.2s;
}

.notfound {
  text-align: center;
  color: grey;
  font-size: 1.5em;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
