.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 975px;
  margin: 0 auto;
  padding: 25px 0 0 0;
  height: 100%;
}

#profile-container{
    padding: 0;
    background: rgba(36,36,36,255);
    border-radius: 5px;
}

#profile {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.profile-flex{
  margin-left: 20px;
}

#profile-picture {
  height: 175px;
  width: 175px;
}

#profile-picture img {
  display: block;
  height: 100%;
  border-radius: 10px;
}

#profile-name {
  color: #e1b649;
}

#profile-data {
    margin-top:auto;
    color: white;
}

#upload-button {
  margin-left: auto;
}

/* user posts */

#posts-container {
  height: 100%;
  padding: 0;
}

#posts {
  margin-top:20px;
}

.noposts {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d9d9d9;
  text-align: center;
  font-weight: 500;
}

::ng-deep.noposts mat-icon {
  height: 60px;
  width: 60px;
  font-size: 60px;
}

.grid-tile {
  cursor: pointer;
  background-color: rgba(36,36,36,255);
  -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

.grid-tile:hover{
  -webkit-filter: brightness(70%);
   filter: brightness(70%);
}

.grid-tile img {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

/* snackbar  */
::ng-deep .custom-style{
  background-color:#424242;
  color:#fff;
  font-weight: 500;
  border: 1px solid #e4b948;
  border-radius: 10px;
}

::ng-deep .custom-style .mat-simple-snackbar-action  {
  color: #e4b948;
}


