<div class="home-wrapper h-100">
    <div *ngIf="user" class="container">
        <div id="profile-container">
            <div id="profile">
                <div id="profile-picture">
                    <img src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
                        alt="profile_picture">
                </div>
                <div class="profile-flex" fxLayout="column">
                    <div id="profile-name">
                        <h3>{{ user.nom }} {{ user.prenom }}</h3>
                    </div>
                    <div fxLayout="row">
                        <div id="profile-data"><span class="count">{{ user.postCount }}</span> publications</div>
                        <div id="profile-data"><span class="count">{{ user.followerCount }}</span> abonnés</div>
                        <div id="profile-data"><span class="count">{{ user.followingCount }}</span> abonnements</div>
                    </div>
                    <div class="sub-buttons">
                        <button mat-raised-button *ngIf="!user.followed && !mypage" color="accent"
                            (click)="follow()">S'abonner</button>
                        <button mat-raised-button *ngIf="user.followed && !mypage" color="warn" (click)="unfollow()">Se
                            désabonner</button>
                    </div>
                </div>
                <div id="upload-button">
                    <button mat-stroked-button *ngIf="mypage" color="accent" (click)="openDialog()">Publier une photo</button>
                </div>
            </div>
        </div>
        <mat-tab-group (selectedTabChange)="onTabChanged($event)" mat-stretched-tabs animationDuration="700ms" mat-align-tabs="center">
            <mat-tab id='first-tab' mat-tab-link>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">photo_library</mat-icon> <span>Publications</span>
                  </ng-template>
                <div class="content">
                        <mat-card-list *ngIf="user.posts.length > 0; else elseBlock" fxLayout="row wrap"fxLayoutAlign="center center" fxLayoutGap="grid">
                            <mat-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" class="grid-card mat-elevation-z4" *ngFor="let post of user.posts"
                                (click)="openPostPage(post.id)"><img src="{{ post.url }}"></mat-card>
                        </mat-card-list>
                        <ng-template #elseBlock>
                            <div class="noposts">
                                <mat-icon class="icon" aria-hidden="false">sentiment_neutral</mat-icon>
                                <span>No posts found.</span>
                            </div>
                        </ng-template>
                </div>
            </mat-tab>

                <mat-tab *ngIf="mypage" mat-tab-link>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">star</mat-icon>
                      <span>Enregistrements</span></ng-template>
                    <router-outlet name="favorites"></router-outlet>
                </mat-tab>

        </mat-tab-group>
    </div>
</div>