<div class="container cover" fxLayout="column"> 
    <header>
        <p id="logo">Infinity</p>
    </header>
    <section class="content">
        <p id="test1">Service de partage des photos</p>
        <p id="test">Partager votre créativité avec d'autres</p>
        <p id="test">Restez à l'écart de vos amisc</p>
    </section>
    <nav fxLayout="row" fxLayoutAlign="space-evenly">
        <button routerLink="/login" mat-raised-button id="loginBtn">Connectez-vous</button>
        <button routerLink="/signup" mat-raised-button id="signupBtn">Creer un compte</button>
    </nav>
</div>
