<header >
    <div class="wrapper" fxLayout="row">
        <div fxLayout="row" fxLayoutAlign="center center">
            <a href="#" routerLink="/" #tooltip="matTooltip" matTooltip="Home Page" [matTooltipPosition]="position.value"
                matTooltipHideDelay="100">
                <span id="logo">Infinity</span>
            </a>
        </div>
        <nav class="flex">
            <div>
                <div *ngIf="isLoggedIn; then online else anon"></div>
                <ng-template #online>
                    <ul *ngIf="isLoggedIn" fxLayout="row">
                        <li class="flex">
                            <div id="border">
                                <img mat-button [src]="avatar" [matMenuTriggerFor]="menu" matTooltip="Mon Profil" [matTooltipPosition]="position.value"
                                matTooltipHideDelay="100"/>
                                <mat-menu backdropClass="customize" #menu="matMenu" xPosition="before">
                                    <button id="profile" (click)="open_home_page()" mat-menu-item>
                                        <mat-icon aria_hidden="true" aria-label="my account icon">account_circle</mat-icon>Mon profil
                                    </button>
                                    <button id="favorites" (click)="open_favorites_page()" mat-menu-item><mat-icon aria_hidden="true" aria-label="bookmarked icon">star_border</mat-icon>Enregistrements</button>
                                    <button id="settings" routerLink="/settings" mat-menu-item><mat-icon aria_hidden="true" aria-label="settings icon">settings</mat-icon>Préferences</button>
                                    <button id="disconnect" (click)="sign_out()" mat-menu-item>
                                        <mat-icon aria-hidden="false" aria-label="logout icon">logout</mat-icon>
                                        Deconnexion
                                    </button>
                                </mat-menu>
                            </div>
                        </li>
                    </ul>
                </ng-template>
                <ng-template #anon>
                    <ul *ngIf="!isLoggedIn" fxLayout="row">
                        <li class="flex"><a class="flex" mat-stroked-button routerLink="/login">Login</a></li>
                        <li class="flex"><a class="flex button" mat-stroked-button routerLink="/signup">Sign up</a></li>
                    </ul>
                </ng-template>
            </div>
        </nav>
    </div>
</header>