<div class="wrapper image" fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="card box">
        <mat-card-header class="card-header">
            <mat-card-title class="card-title">Registration</mat-card-title>
        </mat-card-header>

        <form 
        class="form" 
        *ngIf="!isSuccessful" 
        name="form" 
        (ngSubmit)="f.form.valid && onSubmit()" 
        #f="ngForm" 
        novalidate>

            <mat-card-content>
                <mat-form-field class="form-field">
                    <input
                    matInput
                    class="form-control" 
                    type="text" 
                    placeholder="Nom"
                    name="nom"
                    [(ngModel)]="form.nom"
                    required
                    minlength="2"
                    maxlength="16"
                    #nom="ngModel"
                    >
                    <mat-error>Le nom doit comporter au moins 2 caractères</mat-error>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input 
                    matInput
                    class="form-control"
                    type="text" 
                    placeholder="Prenom"
                    name="prenom"
                    [(ngModel)]="form.prenom"
                    required
                    minlength="2"
                    maxlength="16"
                    #prenom="ngModel"
                    >
                    <mat-error>
                        Le prénom doit comporter au moins 2 caractères
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input 
                    matInput
                    class="form-control"
                    placeholder="Username"
                    type="text"
                    name="username"
                    [(ngModel)]="form.username"
                    required
                    maxlength="32"
                    #username="ngModel"
                    >
                    <mat-error>
                        Le nom d'utilisateur doit comporter de 3 à 20 caractères au plus
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input 
                    matInput
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    email
                    maxlength="50"
                    #email="ngModel"
                    >
                    <mat-error>
                        L'adresse email doit être valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <input
                    matInput
                    class="form-control"
                    placeholder="Password"
                    type="password"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="6"
                    maxlength="40"
                    #password="ngModel"
                    >
                    <mat-error>
                        Le mot de passe doit comporter de 8 à 32 caractères au plus et doit comporter une lettre majuscule, une lettre minuscule, un chiffre et un «caractère spécial»
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button class="btn-block">Register</button>

        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
        </div>
        <mat-card-footer class="card-footer" *ngIf="!isSuccessful">
            <div class="card-footer-element">Already have an account? <span><a routerLink="/login">Sign In</a></span></div>
        </mat-card-footer>
    </mat-card>
</div>