<div class="wrapper image" layout="column" fxLayout="row" fxLayoutAlign="center center">
<mat-card class="card box">
    <mat-card-header class="card-header">
        <mat-card-title class="card-title">Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <form class="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <mat-form-field class="form-field">
                <input matInput class="form-control input" placeholder="Email" type="email" name="email"
                    [(ngModel)]="form.email" required email maxlength="50" #email="ngModel">
                <mat-error>
                    Saisir une adresse email valide
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="Password" type="password" class="form-control" name="password"
                    [(ngModel)]="form.password" required minlength="6" maxlength="40" #password="ngModel">
                <mat-error>
                    Saisir un mot de passe
                </mat-error>
            </mat-form-field>
            <button mat-stroked-button class="btn-block">Sign In</button>
        </form>
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <div class="card-footer-element">Dont have an account yet? <span><a routerLink="/signup">Sign Up</a></span>
        </div>
        <div><span><a routerLink="/restore">Restore Password</a></span></div>
    </mat-card-footer>
</mat-card>
</div>