<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>

        <form 
        class="example-form" 
        *ngIf="!isLoggedIn"
        name="form" 
        (ngSubmit)="f.form.valid && onSubmit()" 
        #f="ngForm" 
        novalidate
        >

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input 
                    matInput
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    email
                    maxlength="50"
                    #email="ngModel"
                    >
                    <mat-error>
                        Saisir une adresse email valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input
                    matInput
                    placeholder="Password"
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="6"
                    maxlength="40"
                    #password="ngModel"
                    >
                    <mat-error>
                        Saisir un mot de passe
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button class="btn-block">Sign In</button>

        </form>
        <mat-card-footer class="card-footer">
            <div>Dont have an account yet? <span><a routerLink="/signup">Sign Up</a></span></div>
        </mat-card-footer>
    </mat-card>
</div>