<div *ngIf="isContent" class="wrapper">
  <div class="container" fxLayout="row" fxLayout.lt-md="column">
    <div *ngIf="post; then card; else error"></div>
    <ng-template #card>
    <mat-card class="card">
      <mat-card-header class="card-header">
          <div mat-card-avatar class="card-avatar">
              <a routerLink="/profile/{{ post.utilisateur.username }}">
                <img class="avatar" src="{{ post.utilisateur.avatar }}" />
              </a>
          </div>
          <div fxLayout="column">
            <mat-card-title><a routerLink="/profile/{{ post.utilisateur.username }}">{{ post.utilisateur.prenom }} {{
                post.utilisateur.nom }}</a></mat-card-title>
            <mat-card-subtitle>@{{ post.utilisateur.username }}</mat-card-subtitle>
          </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-image class="card-image" fxLayout="row">
        <img class="image" mat-card-image src="{{ post.photo }}" alt="image" />
      </mat-card-image>
      <mat-card-content class="card-content">
        <span>{{ post.description }}</span>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="card-actions">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" class="holder">
          <button mat-button id="dislikeBtn" *ngIf="post.liked" (click)="dislike(post.id)">
            <mat-icon aria-hidden="true" fontSet="material-icons" aria-label="like icon" color="warn">favorite</mat-icon>
          </button>
          <button mat-button id="likeBtn" *ngIf="!post.liked" (click)="like(post.id)">
            <mat-icon aria-hidden="true" fontSet="material-icons" aria-label="like icon">favorite</mat-icon>
          </button>
          <button mat-button id="shareBtn"><mat-icon aria-hidden="true" fontSet="material-icons" aria-label="like icon">share</mat-icon></button>
          <button mat-button id="fullscrnBtn" (click)="open_image(post.photo)"><mat-icon aria-hidden="true" fontSet="material-icons">fullscreen</mat-icon></button>
          <button *ngIf="post.author" mat-button id="deleteBtn" (click)="open_delete_post_dialog(post.id)">
            <mat-icon aria-hidden="true" fontSet="material-icons" aria-label="like icon">delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <publication-comments [comments]="post.comments"></publication-comments>
  </ng-template>

    <ng-template #error>
      <not-found></not-found>
    </ng-template>
</div>
</div>