<div class="content" infinite-scroll (scrolled)="onScrollDown($event)">
    <mat-card-list *ngIf="posts.length > 0; else elseBlock" fxLayout="row wrap"fxLayoutAlign="center center" fxLayoutGap="grid">
        <mat-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" class="grid-card mat-elevation-z4" *ngFor="let post of posts"
            (click)="openPostPage(post.id)"><img src="{{ post.url }}"></mat-card>
    </mat-card-list>
    <mat-spinner id="spinner" *ngIf="isLoading" color="accent" [diameter]="100" aria-label="post loading in progress"></mat-spinner>
    <ng-template #elseBlock>
        <div class="noposts">
            <mat-icon class="icon" aria-hidden="false">sentiment_neutral</mat-icon>
            <span>No posts found.</span>
        </div>
    </ng-template>
</div>
