
.content {
  margin-top: 20px;
}

.grid-card {
    position: relative;
    max-width: 360px!important;
    margin: 8px;
    cursor: pointer;
    background-color: rgba(36,36,36,255);
    padding: 0;
  }

  .grid-card:hover .overlay {
    opacity: 1;
  }
  
  .grid-card img {
    display: block;
    width:100%;
    height: 293px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 4px;
  }

  .noposts {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items: center;
    color: #d9d9d9;
    text-align: center;
    font-weight: 500;
  }
  
  ::ng-deep.noposts mat-icon {
    height: 60px;
    width: 60px;
    font-size: 60px;
  }

  #progress {
    margin: 20px auto;
    width: 60%;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0% 0%;
    transition: .5s ease;
  }

  .text {
  font-weight: 500;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  }

  .icon {
    position: relative;
    top: 5px;
    margin-right: 5px;
  }