.container {
    width: 100%;
    max-width: 975px;
    margin: 0 auto;
    padding: 25px 0 0 0;
}

.card {
    max-width: 50%;
    background: rgba(36,36,36,255);
    margin-bottom: 24px;
  }
  
  .header-image {
    display: block;
    width:100%;
    background-size: cover;
  }

  .header-options {
      margin-left: auto;
  }

  .date {
      padding: 8px;
      font-size: 0.8em;
      color: rgb(134, 134, 134);
  }

  .author {
      font-weight: 550;
  }

  .users {
      font-weight: 500;
      margin-right: 6px;
  }

  .comment {
    margin: 2px 0 2px 0;
    font-size: 0.9em;
  }

  .comments {
    padding: 8px;
  }

  #likeBtn {
    transition: .5s ease-out;
  }

  #dislikeBtn,
  #likeBtn,
  #commentBtn {
    min-width: 36px;
  }

  .actions {
    margin-bottom: 0;
  }

  #bold {
    font-weight: 550;
  }

  #aime,
  .count {
    font-size: 0.9em;
  }