/* Upload dialog css */

::ng-deep.mat-card {
    box-shadow: none !important;
  }
  
  ::ng-deep mat-card-header {
    text-align: center;
  }
  
  ::ng-deep mat-form-field {
    width: 100% !important;
  }
  
  ::ng-deep mat-label {
    color: white !important;
  }
  
  ::ng-deep mat-card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  ::ng-deep mat-error {
    display: unset !important;
  }
  
  .preview {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  ::ng-deep .preview > img {
    display: block;
    margin: 0 auto;
    object-fit: scale-down !important;
  }
  
  ::ng-deep input[type="file"] {
    margin: 20px 0 20px 0 !important;
  }
  
  ::ng-deep mat-dialog-container {
    border: 1px solid #e4b948!important;
    border-radius: 10px;
    position: relative!important;
    max-width: unset!important;
  }
  
  ::ng-deep .upload {
    background-color: #7c647c;
  }
  
  ::ng-deep .close {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    padding: 5px!important;
    line-height: 20px!important;
    min-width: auto!important;
  }