.dialog-content .mat-card {
  box-shadow: none;
}
  
.dialog-content .mat-card-header {
  text-align: center;
}

.dialog-content .box{
  background: rgba(36,36,36,255);
}
  
.dialog-content .mat-form-field {
  width: 100%;
}
  
.dialog-content .mat-label {
  color: white;
}
  
.dialog-content .mat-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
  
.dialog-content .mat-error {
  display: unset;
}
  
.dialog-content .preview {
  display: flex;
  justify-content: center;
  width: 100%;
}
  
.dialog-content .preview > img {
  display: block;
  object-fit: scale-down;
}
  
.dialog-content input[type="file"] {
  margin: 20px 0 20px 0;
}
  
::ng-deep .mat-dialog-container {
  border:1px solid rgb(96, 96, 96);
  border-radius: 10px;
  background: rgba(36,36,36,255);
  position: relative;
  max-width: unset;
}

.dialog-content .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 20px;
  min-width: auto;
}

#uploadBtn {
  width: 100%;
}