<div mat-dialog-content class="dialog-content">
    <button class="close" mat-button (click)="closeDialog()">X</button>
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Upload a photo</mat-card-title>
        </mat-card-header>

        <form class="example-form" name="form" [formGroup]="uploadForm" (ngSubmit)="submit()">
            <mat-card-content>
                <div class="preview flex" *ngIf="imgFile">
                    <img [src]="imgFile" style="width:400px; height:250px">
                  </div>

                    <input type="file" class="form-control file-input" (change)="onImageChange($event)" formControlName="file" accept="image/png, image/jpeg">

                <mat-form-field color="accent" floatLabel="always">
                    <mat-label>Description</mat-label>
                    <textarea 
                    matInput 
                    class="form-control" 
                    type="text" 
                    formControlName="description" 
                    maxlength="1024"
                    >
                </textarea>
                </mat-form-field>
            </mat-card-content>
            <button *ngIf="!isSending" mat-stroked-button color="accent" class="btn-block upload" type="submit">Upload</button>
            <mat-spinner *ngIf="isSending" [diameter]="70" color="accent" aria-label="upload in progress"></mat-spinner>
        </form>
    </mat-card>
</div>
