:host{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    background: rgba(36, 36, 36, 255);
    border: 1px solid rgb(58, 58, 58);
    border-radius: 0;
}

.comments {
  overflow-y: scroll;
  height: 500px;
}

.comments::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.comments {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.card .comment-avatar {
    padding: 0;
}

.card .comment-text {
    font-size:  16px;
    margin: 20px 0 20px 60px;
}

.card .comment-username {
    color:rgb(158, 158, 158);
}

::ng-deep .mat-list-item-content {
  padding: 8px 0!important;
}

.comment-avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 15%;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
}

.comment-date{
    color:rgb(158, 158, 158);
    font-size: 6px;
}

.namedate{
    flex: 1;
    margin-left: 20px;
}

#notfound {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
}

::ng-deep .dialog-style {
    border: 1px solid #e4486a;
    border-radius: 2px;
}

.nocomments {
    color:rgb(153, 145, 102);
    padding: 15px;
    text-align: center;
}

.comment-text{
    margin: 20px 0 0 60px!important;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
  }

  
  .form > button {
    width: 100%;
  }
  
  .form textarea {
    resize: none;
    height: 100px;
    color: white;
  }
  
  .form-field {
    width:100%!important;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0 !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #e4b948 !important;
  }
  
  ::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #69f0ae !important;
  }
  
  .form-control {
    caret-color: white;
  }

  @media only screen and (max-width: 975px) {
    :host {
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
    }
  }
