.wrapper {
    height: 100%;
    max-width: 975px;
    width: 100%;
    margin: 50px auto 0 auto;
  }

.card {
    background: rgba(36,36,36,255);
    border: 1px solid #7c7156;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px#1f1f1f;
}

.card a{
    color: white;
}

.card a:hover{
    text-decoration: underline;
}

.card-avatar {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.card-header{
    border-bottom: 1px solid #353535;
}

.card-content{
    margin:10px 0 10px 0!important;
    padding: 10px;
}

.card-actions {
  margin: inherit;
  padding: 0;
}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-header .mat-card-header-text {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 8px;
    width: 100%;
    margin: 8px auto;
}

.form > button {
    width: 180px;
}

.form textarea {
    resize: none;
    height: 100px;
}

.form-field {
    padding: 10px;
}

.card .card-image {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 500px;
    margin: 15px 0;
}
  
.card .image {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: scale-down;
    margin: 0 0 0 0;

}

.card .avatar {
    display: block;
    height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0 0 0 0;
}

.card h4, h5 {
    margin: 0;
}

.image:first-child{
    margin-top: 0;
}

.card .comment-avatar {
    padding: 0;
}

.card .comment-text {
    font-size:  16px;
    margin: 20px 0 20px 60px;
}

.card .comment-username {
    color:rgb(158, 158, 158);
}

.comment-avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 15%;
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
}

.comment-date{
    color:rgb(158, 158, 158);
    font-size: 6px;
}

.namedate{
    flex: 1;
    margin-left: 20px;
}

.container .mat-list-text {
    padding: 10px!important;
}

.avatar-container {
    height: inherit;
}
.wrapper .mat-list-text {
    padding: 0;
}
  /* snackbar on login fail */
  ::ng-deep .custom-style{
    background-color:#424242;
    color:#fff;
    font-weight: 500;
    border: 1px solid #e4b948;
    border-radius: 10px;
  }
  
  ::ng-deep .custom-style .mat-simple-snackbar-action  {
    color: #e4b948;
  }

  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0 !important;
  }
  
  ::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
    color: #e4b948!important;
  }
    
  ::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #69f0ae !important;
  }

.form-control {
    caret-color: white;
}

.nocomments {
    color:rgb(153, 145, 102);
    padding: 15px;
    text-align: center;
}

#deleteBtn{
    float: right;
}

#likeBtn,
#dislikeBtn,
#shareBtn,
#deleteBtn {
    margin: 8px;
}

::ng-deep .dialog-style {
    border: 1px solid #e4486a;
    border-radius: 2px;
}

#notfound {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
}

