.wrapper {
  height: 100%;
  max-width: 975px;
  width: 100%;
  margin: 50px auto 0 auto;
}

.container {
  width:100%;
}

.card {
  background: rgba(36, 36, 36, 255);
  border-top: 1px solid rgb(58, 58, 58);
  border-left: 1px solid rgb(58, 58, 58);
  border-bottom: 1px solid rgb(58, 58, 58);
  border-radius: 0;
  padding: 0;
  flex-basis: 69%;
}

.card a {
  color: white;
}

.card a:hover {
  text-decoration: underline;
}

.card-avatar {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.card-header {
  padding-top: 12px;
}

.card-content {
  margin: 10px 0 10px 0 !important;
  padding: 10px;
}

.card-actions {
  margin: 0!important;
  padding: 0!important;
}

.holder {
  flex: 1;
}

.card-header .mat-card-header-text {
  margin: 0;
}

.card .card-image {
  justify-content: flex-start;
  max-height: 500px;
  margin: 15px 0;
}

.card .image {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: scale-down;
  margin: 0 0 0 0;
}

.card .avatar {
  display: block;
  height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0 0 0 10px;
}

.card h4,
h5 {
  margin: 0;
}

.image:first-child {
  margin-top: 0;
}

.avatar-container {
  height: inherit;
}

#likeBtn,
#dislikeBtn,
#shareBtn,
#deleteBtn,
#fullscrnBtn {
  margin: 8px;
}

#likeBtn {
  transition: .5s ease-out;
}

::ng-deep .dialog-style {
  border: 1px solid #e4486a;
  border-radius: 2px;
}

#notfound {
  color: white;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}
  
#error {
  color: white;
  font-size: 4em;
}
