<div *ngIf="isContent" class="wrapper">
  <div class="container">
  <div *ngIf="post; then card; else error"></div>
  <ng-template #card>
    <mat-card class="card">
      <mat-card-header class="card-header">
        <ng-container *ngIf="post.utilisateur">
          <div mat-card-avatar class="card-avatar">
            <div *ngIf="post.utilisateur.avatar; then avatar; else default"></div>
            <ng-template #avatar>
              <a routerLink="/profile/{{ post.utilisateur.username }}">
                <img class="avatar" src="{{ post.utilisateur.avatar }}" />
              </a>
            </ng-template>
            <ng-template #default>
              <a routerLink="/profile/{{ post.utilisateur.username }}">
                <img class="avatar"
                  src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg" />
              </a>
            </ng-template>
          </div>
          <div fxLayout="column">
            <mat-card-title><a routerLink="/profile/{{ post.utilisateur.username }}">{{ post.utilisateur.prenom }} {{
                post.utilisateur.nom }}</a></mat-card-title>
            <mat-card-subtitle>@{{ post.utilisateur.username }}</mat-card-subtitle>
          </div>
        </ng-container>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-image class="card-image">
        <img class="image" mat-card-image src="{{ post.photo }}" alt="image" />
      </mat-card-image>
      <mat-card-content class="card-content">
        <span>{{ post.description }}</span>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="card-actions">
        <button mat-button id="dislikeBtn" *ngIf="post.liked" (click)="dislike()">
          <mat-icon aria-hidden="false" aria-label="like icon" color="warn">favorite</mat-icon>
        </button>
        <button mat-button id="likeBtn" *ngIf="!post.liked" (click)="like()">
          <mat-icon aria-hidden="false" aria-label="like icon">favorite</mat-icon>
        </button>
        <button mat-button id="shareBtn">Partager</button>
        <button *ngIf="isMyPost" mat-button id="deleteBtn" (click)="open_delete_post_dialog(post.id)">
          <mat-icon aria-hidden="false" aria-label="like icon">delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-card-actions>
    </mat-card>
    <app-comments></app-comments>
  </ng-template>

  <ng-template #error>
    <div id="notfound">
      <span id="error">404</span>
      <span>Post n'a pas ététrouvé ou a été supprimé par son auteur.</span>
    </div>
  </ng-template>
</div>
</div>