<div *ngIf="isContent">
    <form>
        <input #input type="file" accept="image/*" (change)="on_file_change($event)" />
    </form>

    <div *ngIf="user; then container; else error"></div>

    <ng-template #container>
        <div class="container">
            <div id="profile-container">
                <div id="profile">
                    <div id="profile-picture" [style.cursor]="isMyPage ? 'pointer' : 'default'"
                        (click)="on_avatar_click()">
                        <div [style.display]="isOverlayed ? 'block' : 'none'" class="overlay">
                            <div class="spinner"></div>
                        </div>
                        <img src="{{ user.avatar }}" alt="avatar" />
                    </div>
                    <div class="profile-flex" fxLayout="column">
                        <div id="profile-name">{{ user.nom }} {{ user.prenom }}</div>
                        <div id="profile-username">@{{ user.username }}</div>
                        <div *ngIf="!isMyPage" class="sub-buttons">
                            <button mat-raised-button class="subBtn" [ngClass]="{'button--loading': isBtnOverlayed}" *ngIf="!user.followed" color="accent" (click)="follow()">
                                <span class="button__text">S'abonner</span>
                            </button>
                            <button mat-raised-button class="subBtn" [ngClass]="{'button--loading': isBtnOverlayed}" *ngIf="user.followed" color="warn" (click)="unfollow()">
                                <span class="button__text">Se désabonner</span>
                            </button>
                        </div>
                    </div>
                    <ul id="buttons">
                        <li id="upload-button">
                            <button mat-stroked-button *ngIf="isMyPage" color="accent" (click)="open_upload_dialog()">
                                <mat-icon aria-hidden="false" aria-label="Upload icon" fontSet="material-icons">add_a_photo</mat-icon>
                            </button>
                        </li>
                        <li id="settings-button">
                            <a id="settings" mat-stroked-button *ngIf="isMyPage" routerLink="/accounts/edit">
                                <mat-icon aria-hidden="false" aria-label="Settigns icon" fontSet="material-icons">settings</mat-icon>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul fxLayout="row" id="data">
                    <li id="numberPub" fxLayout="column">
                        <span class="count" (click)="scroll(userposts.postsEl)">{{ user.postCount }}</span> publications
                    </li>
                    <li id="numberSubs" fxLayout="column">
                        <span class="count" (click)="open_subscribers_dialog()">{{ user.followerCount }}</span> abonnés
                    </li>
                    <li id="numberSubbed" fxLayout="column">
                        <span class="count" (click)="open_subscriptions_dialog()">{{
                            user.followingCount
                            }}</span>
                        abonnements
                    </li>
                </ul>
            </div>
            <mat-tab-group class="tab-group" (selectedTabChange)="on_tab_change($event)" [selectedIndex]="selectedIndex"
                mat-stretched-tabs animationDuration="700ms" mat-align-tabs="center" color="accent">
                <mat-tab id="first-tab" mat-tab-link>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon">photo_library</mat-icon>
                        <span>Publications</span>
                    </ng-template>
                    <app-userposts #userposts></app-userposts>
                </mat-tab>

                <mat-tab *ngIf="isMyPage" mat-tab-link>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon" fontSet="material-icons">star</mat-icon>
                        <span>Enregistrements</span>
                    </ng-template>
                    <app-favorites></app-favorites>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-template>

    <ng-template #error>
        <div id="notfound">
            <span id="error">404</span>
            <span id="first">Cette page n’est malheureusement pas disponible.</span>
            <span id="second">Le lien que vous avez suivi est peut-être rompu, ou la page a été
                supprimée.
            </span>
        </div>
    </ng-template>
</div>